.home .banner,
.home .site-header {
    background: #4183c4 !important;
    color: #fff!important;
}

blockquote{
    padding: 0 1em !important;
    color: #6a737d !important;
    border-left: 0.25em solid #42b983 !important;
}

.markdown-body blockquote{
    padding: 0 1em !important;
    color: #6a737d !important;
    border-left: 0.25em solid #42b983 !important;
}

.markdown-body a {
    color: #42b983 !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

.home .banner .collection-head {
    color: #fff ;
    background: 0 0;
    box-shadow: none;
    -webkit-box-shadow: none
}

.home .site-header {
    border-bottom: none
}

.home .site-header h1 a {
    color: #fff
}

.home .site-header .site-header-nav-item {
    color: rgba(255, 255, 255, .5)
}

.home .site-header .site-header-nav-item:hover {
    color: #fff
}


@media (max-width:50em) {
  .home .collapsed .icon-bar {
    background-color: white;
  }

  .home .collection-head .collection-header {
    font-size: 1.25em;
  }
}
