---
layout: default
---
<section class="collection-head small" style="background-color:#4183c4;box-shadow:inset 0 10px 20px rgb(0 0 0 / 0%);padding: 20px 0;padding: 1.5rem 0;">
    <div class="container">
        <div class="columns">
            <div class="column three-fourths">
                <div class="collection-title" style="padding: 20px 0;">
                    <h1 class="collection-header"  style="font-size: 35px;">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
<section class="container content">
    <div class="columns">
        <div class="column three-fourths" >
            <article class="article-content markdown-body">
                {{ content }}
            </article>
            <div class="comment">
                {% include comments.html %}
            </div>
        </div>
        <div class="column one-fourth">
            {% include sidebar-categories-nav.html %}
        </div>
    </div>
</section>
<!-- /section.content -->
